.catalog-container {
  margin-top: 20px;
}

.catalog-container a {
  margin-left: 15px;
  text-decoration: underline;
}

.catalog-title {
  font-size: 32px;
  font-weight: 700;
  display: inline-block;
}

.carousel-item {
  width: 245px;
  height: 390px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 20px;
}

.carousel-item p {
  font-size: 20;
  font-weight: 700;
  margin-top: 30px;
}

.carousel-item ul {
  list-style-type: disc;
  font-size: 12px;
  width: 240px;
  margin-left: -20px;
  font-weight: 400px;
}

.carousel-item button {
  background-color: #4094b7;
  width: 230px;
  color: white;
  height: 45px;
  border-radius: 9px;
  font-size: 17px;
  font-weight: 400;
  margin-top: 27px;
  margin-left: 47px;
}

.carousel-image {
  width: 245px;
  height: 173px;
  background-color: #125a86;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.qlr {
  position: relative;
  top: 20px;
  right: -70px;
}

.qgis {
  position: relative;
  top: 20px;
  right: -30px;
}

.genPresent {
  position: relative;
  top: 20px;
  right: -70px;
}

.item3 button {
  margin-top: 55px;
}

.photoFix {
  position: relative;
  top: 20px;
  margin-left: 40px;
}

.item4 button {
  margin-top: 54px;
}

@media screen and (max-width: 1024px) {
  .alice-carousel {
    width: 515px;
  }
}

@media screen and (max-width: 1440px) {
  .alice-carousel {
  }
}
