.sidebar-container {
  position: absolute;
  left: 0;
  width: 60px;
}

.sidebar-wrapper {
  height: 1100px;
  background-color: #125a86;
}

.toHome {
  margin-left: 45px;
}

@media screen and (min-width: 2560px) {
  .sidebar-wrapper {
    height: 90vh;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar-wrapper {
    height: 1200px;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar-wrapper {
    height: 1200px;
  }
}
