main {
  margin-left: auto;
  margin-right: auto;
  width: 1030px;
}

.main-window {
  background-image: url(../../assets/mainPhoto.svg);
  height: 570px;
  border: 1px solid transparent;
}

.main-title {
  font-size: 42px;
  font-weight: 700;
  margin-top: 70px;
  margin-left: 70px;
  display: inline-block;
}

.main-description {
  width: 338px;
  margin-top: 30px;
  margin-left: 72px;
  font-size: 18px;
}

.main-window button {
  margin-top: 40px;
  font-size: 18px;
  color: white;
  background-color: #ffa739;
  margin-left: 110px;
  width: 175px;
  height: 50px;
}

@media screen and (min-width: 1024px) {
  .catalog-title {
    margin-left: 200px;
  }
}
